body{
	background-color: #d3d3d3;
}
nav{
	text-align: center;
	font-size: 30px;
	font-style: Sans-serif;
}
h1{
	font-size: 30px;
	text-align: center;
	margin: 20px;
	font-style: Sans-serif;
}
h3 {
	font-size: 24px;
	text-align: center;
	font-style: italic;
	font-style: Sans-serif;
}
footer{
	text-align: center;
	font-size: 22px;
	clear: both;
}
.dwight{
	width: 30%;
	float: right;
	padding: 40px;
	border: solid;
	border: auto;
	margin: 20px;
	text-align: center;
}
.container{
	width: 50%;
	display: inline-block;
}
.relaxr{
	border: solid;
	padding: 17px;
	margin-left: 20%;
	width: 50%;
}
.education{
	margin-left: 80px;
	font-size: 16px;
	font-style: Sans-serif;
	width: 60%;
}
h4{
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
	font-style: Sans-serif;
}
h5{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 24px;
}
h6{
	border: 5px;
	font-size: 20px;
}
li{
	margin-left: 50px;
	font-size: 18px;
}
p{
	margin-left: 60px;
	font-size: 16px;
	font-style: Sans-serif;
	width: 60%;
}
